<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts" class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <% @posts.each do |post| %>
    <%= render post %>	
  <% end %>  
</div>

<div>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to "New post", new_post_path %>
